
  <div class="container mt-5">

    <h2 class="mt-5 mb-3">Materias Registradas</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre de la materia</th>
          <th>Nota</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let materia of materias" class="center">
            <td>{{materia.id}}</td>
            <td>{{materia.nombre}}</td>
            <td>{{materia.creditos}}</td>
            <td>
                <button (click)='Edit(materia)'class="btn btn-warning" style="margin-right: 10px;">Editar</button>
                <button (click)='Delete(materia)' class="btn btn-danger">Borrar</button>
            </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-success">Calcular Creditos</button>
    <p id="promedio" class="mt-3"></p>
  </div>


